@import "./Variables_Globales/VG.module.scss";

.main {
  max-width: $maxLview;
  padding: 43px 100px 43px 100px;
  box-sizing: border-box;
  background-color: $bodyBC;
}

* {
  font-family: "Montserrat", sans-serif;
}