@import "./Variables_Globales/VG.module.scss";

.nameCollapse {
    cursor: pointer;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(255, 96, 96, 1);
    margin: 0px 0px 0px 0px;
    padding: 10px 20px 10px 15px;
    p {
        color: white;
        font-weight: 700;
        font-size: 24px;
        margin:0;
    }
    .passive_img {
        transform: rotate(0deg);
        width: 25px;
        transition : 0.2s
    }
    .active_img {
        transform: rotate(180deg);
        width: 25px;
        transition : 0.2s
    }
}

.passive_contentCollapse {
    height: 0;
    background-color: #F6F6F6;
    padding: 0px;
    font-weight: 400;
    font-size: 0px;
    line-height: 0px;
    margin:0;
    transition: 0.2s;
}

.active_contentCollapse {
    height: 100%;
    background-color: #F6F6F6;
    padding: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25.67px;
    margin:0;
    transition: 0.2s;
}