@import "./Variables_Globales/VG.module.scss";

.nameCollapse {
    cursor: pointer;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: $slimBorderRadius;
    background-color: $colortheme;
    margin: 0px 0px 0px 0px;
    padding: 10px 20px 10px 15px;
    z-index:0;
    position:relative;
    p {
        color: $bodyBC;
        font-weight: 700;
        font-size: 24px;
    }
    .passive_img {
        transform: rotate(0deg);
        width: 25px;
        transition : $transitionTime;
    }
    .active_img {
        transform: rotate(-180deg);
        width: 25px;
        transition : $transitionTime;
    }
}

.passive_contentCollapse {
    z-index:1;
    background-color: $carrouselBC;
    box-sizing: border-box;
    color: $bodyBC;
    font-weight: 400;
    margin-top: -35px;
    margin-bottom: 35px;
    height: 0;
    padding: 0px;
    font-size: 18px;
    line-height: 0px;
    transition: $transitionTime;
    p {
        margin: 0;
    }
}

.active_contentCollapse {
    z-index:1;
    background-color: $carrouselBC;
    box-sizing: border-box;
    color: $fontColorDefault;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 400;
    height: 100%;
    padding: 20px;
    font-size: 18px;
    line-height: 25.67px;
    transition: $transitionTime;
    p {
        margin: 0;
    }
}

@media (max-width: $switchMobileWidth) {
    .nameCollapse {
        height: 30px;
        padding: 0px 20px 0px 15px;
        border-radius: 5px;
        p {
            font-size: 13px;
        }
        .passive_img {
            width: 20px;
        }
        .active_img {
            width: 20px;
        }
    }
    .active_contentCollapse {
        font-size: 14px;
    }
}