@import "./Variables_Globales/VG.module.scss";

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.num {
    color:$colortheme;
    font-weight: 700;
    font-size: 288px;
    margin: 0px 0px 100px 0px;
}
.message {
    color:$colortheme;
    font-weight: 500;
    font-size: 36px;
    margin: 0px 0px 150px 0px;
}
.link {
    color: $fontColorDefault;
    font-weight: 500;
    font-size: 18px;
}