@import "./Variables_Globales/VG.module.scss";

.capsuleTitre {
    width: calc(100vw - 200px);
    max-width: calc($maxLview - 200px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 0px 0px 0px;
    .contentTitle {
        width: 80%;
        .title {
            font-weight: 500;
            font-size: 36px;
            color: $colortheme;
            margin:0px 0px 10px 0px;
        }
        .location {
            color: $fontColorDefault;
            font-weight: 500;
            font-size: 18px;
            margin:0px 0px 20px 0px;
        }
    }
    .contentHost {
        display: flex;
        flex-direction: column;
        align-items: end;
    }
    .contentAvatar {
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        width: 20%;
        margin-bottom: 20px;
        img {
            width: 64px;
            height: 64px;
            border-radius: 32px;
            margin: 0px 0px 0px 12px;
        }
        .contentNom {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: end;
            h3 {
                font-weight: 500;
                font-size: 18px;
                color: $colortheme;
                margin: 3px 0px 3px 0px;
            }
        }
    }
}

.capsuleTag {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .tag {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.contentCol {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.collapse {
    width: 46.5%;
}

@media (max-width: $switchMobileWidth) {
    .capsuleTitre {
        width: calc(100vw - 40px);
        flex-direction: column;
        .contentTitle {
            width: 100%;
            .title {
                font-size: 18px;
            }
            .location {
                font-size: 14px;
            }
        }
        .contentHost {
            flex-direction: row-reverse;
            align-items: center;
            width: 100%;
            margin-bottom: 20px;
            .contentAvatar {
                width: 34%;
                margin: 0;
                img {
                    width: 32px;
                    height: 32px;
                    border-radius: 16px;
                }
                .contentNom {
                    h3 {
                        font-size: 12px;
                    }
                }
            }
            .contentNotation {
                display: flex;
                justify-content: start;
                width: 66%;
                img {
                    width: 13px;
                    height: 13px;
                }
            }
        }
    }
    .capsuleTag {
        width: calc(100vw - 40px);
    }
    .contentCol {
        width: calc(100vw - 40px);
        display: flex;
        flex-direction:column;
    }
    .collapse {
        width: 100%;
        margin-bottom: 20px;
    }
}