@import "./Variables_Globales/VG.module.scss";

.capsuleTitre {
    width: calc(100vw - 200px);
    max-width: calc($maxLview - 200px);
    display: flex;
    flex-direction: row;
    margin: 0px 0px 20px 0px;
    .contentTitle {
        width: 67%;
        .title {
            font-weight: 500;
            font-size: 36px;
            color: $colortheme;
            margin:0px 0px 10px 0px;
        }
        .location {
            color: $fontColorDefault;
            font-weight: 500;
            font-size: 18px;
            margin:0;
        }
    }
    .contentHost {
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        width: 33%;
        img {
            width: 64px;
            height: 64px;
            border-radius: 32px;
            margin: 0px 0px 0px 12px;
        }
        .contentNom {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: end;
            h3 {
                font-weight: 500;
                font-size: 18px;
                color: $colortheme;
                margin: 3px 0px 3px 0px;
            }
        }
    }
}

.capsuleTag {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 20px 0px;
    .tag {
        display: flex;
        flex-direction: row;
    }
}

.contentCol {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.collapse {
    width: 46.5%;
}

@media (max-width: $switchMobileWidth) {
    .capsuleTitre {
        width: calc(100vw - 40px);
    }
    .capsuleTag {
        width: calc(100vw - 40px);
    }
    .contentCol {
        width: calc(100vw - 40px);
        display: flex;
        flex-direction:column;
    }
    .collapse {
        width: 100%;
        margin-bottom: 20px;
    }
}