@import "./Variables_Globales/VG.module.scss";

.header {
    width: 1240px;
    height: 68px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 50px 0px;
        nav {
            width: 309px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            font-weight: 500;
            font-size: 24px;
        }
}

.link {
    text-decoration: none;
    color: $fontColorDefault;
    &:hover {
        text-decoration: underline;
    }
}