.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 40px 40px 40px;
        nav {
            width: 150px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
}

.link {
    text-decoration: none;
    color: black;
    &:hover {
        text-decoration: underline;
    }
}