@import "./Variables_Globales/VG.module.scss";

.stars {
    display: flex;
    flex-direction: row;
    justify-content: end;
    img {
        width: 24px;
        height: 24.75px;
        margin: 0px 0px 0px 12px;
    }
}