@import "./Variables_Globales/VG.module.scss";

.contentLoc {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contentCards {
    width: calc(100vw - 200px);
    max-width: calc($maxLview - 200px);
    min-height: 831px;
    background-color: $carrouselBC;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items:start;
    position:relative;
    padding: 25px 27.5px 25px 27.5px;
    box-sizing: border-box;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
    width: 100px;
    height: 100%;
    border:none;
    margin: -25px 0px -25px 0px;
    z-index: 1;
    position: absolute;
    &:hover {
        opacity: 1;
        transition: 0.5s;
    img {
        width: 100%;
        filter: drop-shadow(0px 0px 15px gray);
    }
}}

@media (max-width: $switchMobileWidth) {
    .contentCards {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: start;
        align-items: center;
        width: calc(100vw - 40px);
        height: calc(100vh - 440px);
        padding:0;
        border-radius: 10px 10px 10px 10px;
        background-color: $bodyBC;
        overflow-y: scroll;
    }
}