.contentLoc {
    display: flex;
    flex-direction: row;
}

.contentCards {
    width: 100vw;
    height: 817px;
    background-color: #F6F6F6;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.buttonP {
    width: 80px;
    height: 440px;
    border:none;
    position:absolute;
    left:0px;
    background-color: white;
    margin: 0;
    &:hover {
        background-color: red;
        transition: 0.5s;
    }

}

.buttonS {
    width: 80px;
    height: 440px;
    border:none;
    position:absolute;
    right:0px;
    background-color: white;
    margin: 0;
    &:hover {
        background-color: red;
        transition: 0.5s;
    }
}