.contentTag {
    min-width: 120px;
    height: 28px;
    border-radius: 14px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #FF6060;
    color: white;
    font-weight: 700;
    font-size: 14px;
    margin: 0px 14px 0px 0px;
    padding: 0px 14px 0px 14px;
}