$colortheme : rgba(255, 96, 96, 1);
$carrouselBC : rgb(246, 246, 246);
$htmlBC : rgb(128, 128, 128);
$bodyBC : rgb(255, 255, 255);
$footerBC : rgb(0, 0, 0);
$fontColorDefault : rgb(0, 0, 0);
$transitionTime : 0.2s;
$bigBorderRadius : 20px 20px 20px 20px;
$slimBorderRadius : 10px 10px 10px 10px;
$maxLview : 1440px;
$switchMobileWidth : 765px;